@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif; }

img {
  display: block;
  max-width: 100%; }

p {
  margin-bottom: 0; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.hero-heading {
  color: #FFF;
  font-family: "Barlow", sans-serif;
  font-size: 10rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.1875rem; }

.primary-p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px; }

.hero-p {
  color: #CBD5DC;
  border-left: 3px solid #F54F54;
  padding: 3.2rem;
  margin-left: 6.4rem; }

.bordered-text {
  font-family: "Barlow", sans-serif;
  color: white;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px white; }

.secondary-p {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: uppercase; }

.meta-tag {
  font-size: 1.6rem;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }
  .meta-tag::after {
    content: '';
    position: absolute;
    width: 6.4rem;
    background: #FAFAFA;
    height: 1px;
    left: calc(100% + 1.6rem);
    top: 50%;
    transform: translateY(-50%); }

.primary-heading {
  font-family: "Barlow", sans-serif;
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: 2.88px;
  text-transform: uppercase; }

.section-space {
  margin: 6rem 0; }

.text-white {
  color: #FAFAFA !important; }

.theme-bg {
  background: #063034; }

.internal-space-lg {
  padding: 8rem 0; }

.shape-container {
  position: relative; }
  .shape-container .rectangle-small-bottom {
    position: absolute;
    width: 70%;
    top: 100%; }

.mb-8 {
  margin-bottom: 0.8rem; }

.mb-16 {
  margin-bottom: 1.6rem; }

.mb-24 {
  margin-bottom: 2.4rem; }

.mb-32 {
  margin-bottom: 3.2rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mb-64 {
  margin-bottom: 6.4rem; }

.primary-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 1.8rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2rem; }
  .primary-button .button-arrow {
    border: 2px solid #FAFAFA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    transition: all 0.5s ease-out;
    overflow: hidden; }
    .primary-button .button-arrow img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.6rem;
      transition: all 0.5s ease-out; }
      .primary-button .button-arrow img.arrow-invisible {
        transform: translate(-275%, -50%); }
  .primary-button:hover {
    color: #FAFAFA; }
    .primary-button:hover .button-arrow {
      transform: scale(1.1); }
      .primary-button:hover .button-arrow img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem; }
        .primary-button:hover .button-arrow img.arrow-invisible {
          transform: translate(-50%, -50%); }
        .primary-button:hover .button-arrow img.arrow-visible {
          transform: translate(275%, -50%); }

.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.71);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); }
  .modal-container .modal-content {
    width: 80rem;
    aspect-ratio: 16/9; }
    .modal-container .modal-content iframe {
      width: 100%;
      height: 100%;
      display: block; }
  .modal-container.hide-modal {
    display: none; }

.info-box {
  background: #0E54A4;
  color: white;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 6.4rem; }
  .info-box .info-head {
    font-family: "Barlow", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    line-height: 8rem;
    letter-spacing: 2.367px;
    text-transform: uppercase; }
    .info-box .info-head span {
      font-style: italic; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header .header-box {
    padding: 4.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header-actions {
    display: flex;
    gap: 3.2rem;
    align-items: center; }

.hero {
  background: #063034;
  position: relative;
  height: 120vh; }
  .hero .hero-container {
    display: flex;
    align-items: baseline; }
    .hero .hero-container .hero-banner {
      position: absolute;
      right: 0;
      width: calc(80% - 12rem);
      height: 75%;
      border-bottom-left-radius: 8rem;
      overflow: hidden; }
      .hero .hero-container .hero-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .hero .hero-container .hero-banner::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 6.15%, rgba(0, 0, 0, 0.51) 93.08%); }
    .hero .hero-container .hero-contents {
      z-index: 2;
      align-items: center;
      position: absolute;
      bottom: 30%;
      width: 50%; }

#home-brands {
  margin-bottom: 4rem;
  margin-top: -12rem; }
  #home-brands .brand-row .brand-box {
    aspect-ratio: 0.78;
    position: relative; }
    #home-brands .brand-row .brand-box .brand-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #home-brands .brand-row .brand-box::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(22, 21, 21, 0.77) 82.5%); }
    #home-brands .brand-row .brand-box .brand-text {
      color: white;
      z-index: 3;
      position: absolute;
      bottom: 2.8rem;
      left: 8rem; }
      #home-brands .brand-row .brand-box .brand-text span {
        font-size: 1.8rem;
        letter-spacing: 0.54px;
        text-transform: lowercase;
        position: relative; }
        #home-brands .brand-row .brand-box .brand-text span::after {
          content: '';
          position: absolute;
          width: 4rem;
          height: 1px;
          top: 50%;
          transform: translateY(-50%);
          left: -5rem;
          background: white; }
      #home-brands .brand-row .brand-box .brand-text h3 {
        font-size: 4.8rem;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        font-weight: 300; }
  #home-brands .brand-row .brands-info-box {
    height: 100%;
    position: relative;
    z-index: -1; }
    #home-brands .brand-row .brands-info-box .info-box {
      padding-top: 12rem; }
    #home-brands .brand-row .brands-info-box::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
      background: #0E54A4; }
      @media only screen and (max-width: 1600px) {
        #home-brands .brand-row .brands-info-box::after {
          content: ''; } }
