@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif; }

img {
  display: block;
  max-width: 100%; }

p {
  margin-bottom: 0; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1540px; } }

.hero-heading {
  color: #FFF;
  font-family: "Barlow", sans-serif;
  font-size: 10rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.1875rem; }
  @media only screen and (max-width: 1400px) {
    .hero-heading {
      font-size: 6.4rem; } }

.primary-p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px; }
  @media only screen and (max-width: 1400px) {
    .primary-p {
      font-size: 2rem; } }

.hero-p {
  color: #CBD5DC;
  border-left: 3px solid #F54F54;
  padding: 3.2rem;
  margin-left: 6.4rem; }

.bordered-text {
  font-family: "Barlow", sans-serif;
  color: white;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px white; }
  .bordered-text.border-black {
    color: #0A0A0A;
    -webkit-text-stroke: 2px #0A0A0A; }

.secondary-p {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase; }

.meta-tag {
  font-size: 1.6rem;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }
  .meta-tag::after {
    content: '';
    position: absolute;
    width: 6.4rem;
    background: #FAFAFA;
    height: 1px;
    left: calc(100% + 1.6rem);
    top: 50%;
    transform: translateY(-50%); }

.primary-heading {
  font-family: "Barlow", sans-serif;
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: 2.88px;
  text-transform: uppercase; }

.secondary-heading {
  font-family: "Barlow", sans-serif;
  font-size: 6.4rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase; }

.bold-p {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase; }

.tertiary-p {
  color: #171717;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  /* 166.667% */
  letter-spacing: 0.54px; }

.tertiary-p-bold {
  color: #0A0A0A;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.4rem;
  letter-spacing: 0.72px; }

.section-space {
  margin: 6rem 0; }

.text-white {
  color: #FAFAFA !important; }

.theme-bg {
  background: #063034; }

.internal-space-lg {
  padding: 8rem 0; }

.shape-container {
  position: relative; }
  .shape-container .rectangle-small-bottom {
    position: absolute;
    width: 70%;
    height: 6rem;
    top: 100%; }

.product-showcase-space {
  margin-top: -1px;
  margin-bottom: 6rem; }

.text-center {
  text-align: center; }

.bold {
  font-weight: 600; }

.quote-box {
  position: relative; }
  .quote-box .quote {
    position: absolute;
    bottom: calc(100% + 2.8rem); }

.mb-8 {
  margin-bottom: 0.8rem; }

.mb-16 {
  margin-bottom: 1.6rem; }

.mb-24 {
  margin-bottom: 2.4rem; }

.mb-32 {
  margin-bottom: 3.2rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mb-64 {
  margin-bottom: 6.4rem; }

.mb-72 {
  margin-bottom: 7.2rem; }

.mb-80 {
  margin-bottom: 8rem; }

.primary-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 1.8rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2rem; }
  .primary-button .button-arrow {
    border: 2px solid #FAFAFA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    transition: all 0.5s ease-out;
    overflow: hidden; }
    .primary-button .button-arrow img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.6rem;
      transition: all 0.5s ease-out; }
      .primary-button .button-arrow img.arrow-invisible {
        transform: translate(-275%, -50%); }
  .primary-button:hover {
    color: #FAFAFA; }
    .primary-button:hover .button-arrow {
      transform: scale(1.1); }
      .primary-button:hover .button-arrow img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem; }
        .primary-button:hover .button-arrow img.arrow-invisible {
          transform: translate(-50%, -50%); }
        .primary-button:hover .button-arrow img.arrow-visible {
          transform: translate(275%, -50%); }

.primary-card {
  position: relative;
  height: 40rem;
  display: flex;
  align-items: end;
  text-decoration: none;
  overflow: hidden; }
  .primary-card:hover .card-img {
    transform: scale(1.2); }
  .primary-card .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 3s ease; }
  .primary-card::after {
    content: '';
    z-index: 2;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 38, 74, 0) 54.69%, #1E1E1E 100%); }
  .primary-card .card-contents {
    position: relative;
    z-index: 3;
    padding: 2rem; }
    .primary-card .card-contents .card-head {
      color: #FFF;
      font-family: "Barlow", sans-serif;
      font-size: 3.2rem;
      font-style: italic;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 1.92px;
      margin-bottom: 1.8rem; }
    .primary-card .card-contents .card-info {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .primary-card .card-contents .card-info span {
        color: #FFF;
        font-family: "Barlow", sans-serif;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 500;
        line-height: 1.2rem;
        letter-spacing: 0.629px; }

.product-col {
  margin: 2rem;
  border-radius: 2.302px;
  background: #FFF;
  box-shadow: 0px 5.558px 13.896px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out; }
  .product-col a {
    display: inline-block;
    text-decoration: none;
    padding: 1.6rem; }
    .product-col a .product-card .product-image {
      margin-bottom: 2.4rem;
      aspect-ratio: 1; }
      .product-col a .product-card .product-image img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .product-col a .product-card .product-title {
      color: #262626;
      font-size: 1.8rem;
      letter-spacing: 0.552px;
      text-align: center; }
  .product-col:hover {
    transform: translateY(-1rem);
    box-shadow: 0px 10.558px 20.896px 0px rgba(0, 0, 0, 0.125); }

.custom-navigation-section {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  max-height: 16rem; }
  .custom-navigation-section .divider-bg {
    width: 100%; }
  .custom-navigation-section .nav-container {
    position: absolute;
    inset: 0; }
  .custom-navigation-section .custom-navigation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    gap: 2rem; }
    .custom-navigation-section .custom-navigation .nav {
      cursor: pointer; }

.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.71);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); }
  .modal-container .modal-content {
    width: 80rem;
    aspect-ratio: 16/9; }
    .modal-container .modal-content iframe {
      width: 100%;
      height: 100%;
      display: block; }
  .modal-container.hide-modal {
    display: none; }

.info-box {
  background: #0E54A4;
  color: white;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .info-box .info-logo img {
    width: 28rem; }
  .info-box.product-info-box {
    padding-left: 0;
    position: relative;
    justify-content: end;
    padding-bottom: 6.4rem; }
    @media only screen and (max-width: 1600px) {
      .info-box.product-info-box {
        padding-bottom: 4rem; } }
    .info-box.product-info-box::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: -100%;
      background: #0E54A4; }
    .info-box.product-info-box::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: 0;
      z-index: -1;
      background: #0E54A4; }
  .info-box .info-head {
    font-family: "Barlow", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    line-height: 8rem;
    letter-spacing: 2.367px;
    text-transform: uppercase; }
    .info-box .info-head span {
      font-style: italic; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header .header-box {
    padding: 4.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header-actions {
    display: flex;
    gap: 3.2rem;
    align-items: center; }

.hero {
  background: #063034;
  position: relative;
  height: 120vh; }
  .hero .hero-container {
    display: flex;
    align-items: baseline; }
    .hero .hero-container .hero-banner {
      position: absolute;
      right: 0;
      width: calc(80% - 12rem);
      height: 75%;
      border-bottom-left-radius: 8rem;
      overflow: hidden; }
      .hero .hero-container .hero-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .hero .hero-container .hero-banner::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 6.15%, rgba(0, 0, 0, 0.51) 93.08%); }
    .hero .hero-container .hero-contents {
      z-index: 2;
      align-items: center;
      position: absolute;
      bottom: 30%;
      width: 50%; }

.secondary-hero {
  height: 50vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.67) 6.15%, rgba(0, 0, 0, 0.5) 93.08%), url("../../assets/img/about-hero-bg.jpeg") lightgray 50%/cover no-repeat;
  background-position: top;
  position: relative;
  border-bottom-right-radius: 18rem; }
  .secondary-hero .secondary-hero-title {
    font-family: "Barlow", sans-serif;
    color: #FAFAFA;
    font-size: 10rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3px;
    position: absolute;
    bottom: 4rem; }

footer {
  position: relative;
  z-index: 1; }
  footer .footer-container .footer-row .footer-box {
    color: #FAFAFA;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.395px;
    padding-block: 2rem; }
    footer .footer-container .footer-row .footer-box .footer-logo {
      width: 20rem; }
    footer .footer-container .footer-row .footer-box .footer-contact-details .footer-detail {
      display: flex;
      gap: 1.4rem;
      margin-bottom: 1.6rem;
      align-items: center;
      align-items: baseline; }
    footer .footer-container .footer-row .footer-box.footer-company-info {
      border-right: 1px solid rgba(212, 212, 212, 0.2);
      padding-right: 8rem;
      margin-right: 8rem; }
    footer .footer-container .footer-row .footer-box .footer-head {
      color: #FAFAFA;
      font-size: 2.2rem;
      font-weight: 500;
      letter-spacing: 0.66px;
      margin-bottom: 3.2rem; }
    footer .footer-container .footer-row .footer-box .footer-links {
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      footer .footer-container .footer-row .footer-box .footer-links .footer-link {
        width: fit-content;
        text-decoration: none;
        color: #FAFAFA;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.48px;
        position: relative; }
        footer .footer-container .footer-row .footer-box .footer-links .footer-link::after {
          content: '';
          position: absolute;
          top: 101%;
          left: 0;
          width: 0;
          height: 1px;
          background: #FAFAFA;
          transition: all 0.3s ease-out; }
        footer .footer-container .footer-row .footer-box .footer-links .footer-link:hover::after {
          width: 100%; }
  footer .footer-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    height: 100%; }

.socials-container {
  color: #FAFAFA; }
  .socials-container .social-icons {
    display: flex;
    gap: 4rem; }
    .socials-container .social-icons a img {
      height: 4rem; }
  .socials-container .social-gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover; }

#home-brands {
  margin-bottom: 4rem;
  margin-top: -12rem; }
  #home-brands .brand-row .brand-box {
    aspect-ratio: 0.78;
    position: relative; }
    #home-brands .brand-row .brand-box .brand-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #home-brands .brand-row .brand-box::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(22, 21, 21, 0.77) 82.5%); }
    #home-brands .brand-row .brand-box .brand-text {
      color: white;
      z-index: 3;
      position: absolute;
      bottom: 2.8rem;
      left: 8rem; }
      #home-brands .brand-row .brand-box .brand-text span {
        font-size: 1.8rem;
        letter-spacing: 0.54px;
        text-transform: lowercase;
        position: relative; }
        #home-brands .brand-row .brand-box .brand-text span::after {
          content: '';
          position: absolute;
          width: 4rem;
          height: 1px;
          top: 50%;
          transform: translateY(-50%);
          left: -5rem;
          background: white; }
      #home-brands .brand-row .brand-box .brand-text h3 {
        font-size: 4.8rem;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        font-weight: 300; }
  #home-brands .brand-row .brands-info-box {
    height: 100%;
    position: relative;
    z-index: -1; }
    #home-brands .brand-row .brands-info-box .info-box {
      padding-top: 12rem; }
    #home-brands .brand-row .brands-info-box::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
      background: #0E54A4; }
      @media only screen and (max-width: 1600px) {
        #home-brands .brand-row .brands-info-box::after {
          content: ''; } }

.product-section {
  position: relative;
  overflow: hidden; }

.about-p {
  width: 90%;
  margin-left: auto; }

.brands-container .brands-row {
  display: flex; }
  .brands-container .brands-row .brands-col {
    flex-basis: 50%; }
    .brands-container .brands-row .brands-col.brand-image-col {
      position: relative; }
      .brands-container .brands-row .brands-col.brand-image-col img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute; }
    .brands-container .brands-row .brands-col.brand-text-col {
      padding: 12rem 10rem;
      background: #063034;
      position: relative; }
      .brands-container .brands-row .brands-col.brand-text-col .brand-info {
        color: #FAFAFA;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 200;
        line-height: 3.6rem;
        /* 141.667% */
        letter-spacing: 0.724px; }
      .brands-container .brands-row .brands-col.brand-text-col::after {
        content: attr(data-content);
        -webkit-text-stroke-color: rgba(132, 172, 212, 0.2);
        -webkit-text-fill-color: rgba(235, 0, 0, 0);
        -webkit-text-stroke: 6px rgba(132, 172, 212, 0.2);
        font-family: Barlow;
        font-size: 12rem;
        font-style: normal;
        font-weight: 800;
        /* 173.25% */
        letter-spacing: 1.4rem;
        text-transform: uppercase;
        line-height: 1.5;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        right: 0;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        white-space: nowrap;
        text-align: center; }

.products-info-box {
  padding-bottom: 12rem; }
  .products-info-box .products-row {
    padding: 4rem 0; }

.product-display-box {
  border-radius: 2.4rem;
  overflow: hidden; }
  .product-display-box .product-display-image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover; }
