@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes slideIn {
  0% {
    transform: translateX(110%); }
  100% {
    transform: translateX(0); } }

@keyframes slideOut {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(110%); } }

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif; }

img {
  display: block;
  max-width: 100%; }

p {
  margin-bottom: 0; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

@media only screen and (max-width: 576px) {
  .container {
    padding-inline: 2rem; } }

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1540px; } }

/* width */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E54A4; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E54A4; }

.hero-heading {
  color: #FFF;
  font-family: "Barlow", sans-serif;
  font-size: 10rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.1875rem; }
  @media only screen and (max-width: 1400px) {
    .hero-heading {
      font-size: 6.4rem; } }
  @media only screen and (max-width: 992px) {
    .hero-heading {
      font-size: 4.8rem; } }

.primary-p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px; }
  @media only screen and (max-width: 1400px) {
    .primary-p {
      font-size: 2rem; } }

.hero-p {
  color: #CBD5DC;
  border-left: 3px solid #F54F54;
  padding: 3.2rem;
  margin-left: 6.4rem; }
  @media only screen and (max-width: 992px) {
    .hero-p {
      padding: 2rem;
      margin-left: 4rem; } }

.bordered-text {
  font-family: "Barlow", sans-serif;
  color: white;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px white; }
  .bordered-text.border-black {
    color: #0A0A0A;
    -webkit-text-stroke: 2px #0A0A0A; }

.secondary-p {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase; }

.meta-tag {
  font-size: 1.6rem;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }
  .meta-tag::after {
    content: '';
    position: absolute;
    width: 6.4rem;
    background: #FAFAFA;
    height: 1px;
    left: calc(100% + 1.6rem);
    top: 50%;
    transform: translateY(-50%); }

.primary-heading {
  font-family: "Barlow", sans-serif;
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: 2.88px;
  text-transform: uppercase; }

.secondary-heading {
  font-family: "Barlow", sans-serif;
  font-size: 6.4rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase; }

.bold-p {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase; }

.tertiary-p {
  color: #171717;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  /* 166.667% */
  letter-spacing: 0.54px; }

.tertiary-p-bold {
  color: #0A0A0A;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.4rem;
  letter-spacing: 0.72px; }

.tertiary-heading {
  color: #262626;
  font-family: "Barlow", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .tertiary-heading {
      font-size: 3.2rem;
      line-height: 1.4; } }

.heading-support {
  color: #737373;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px;
  display: inline-block;
  width: 50%; }
  @media only screen and (max-width: 768px) {
    .heading-support {
      width: 100%;
      font-size: 2rem;
      line-height: 1.4; } }

.outlined-head {
  color: #262626;
  font-family: "Nunito Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  position: relative;
  display: inline-block; }
  .outlined-head::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 40%;
    border-radius: 2px;
    height: 5px;
    background: #0E54A4; }

.category-title {
  color: #0A0A0A;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px; }

.section-space {
  margin: 6rem 0; }
  @media only screen and (max-width: 992px) {
    .section-space {
      margin: 4rem 0; } }

.text-white {
  color: #FAFAFA !important; }

.theme-bg {
  background: #063034; }

.internal-space-lg {
  padding: 8rem 0; }
  @media only screen and (max-width: 992px) {
    .internal-space-lg {
      padding: 4rem 0; } }

.shape-container {
  position: relative; }
  .shape-container .rectangle-small-bottom {
    position: absolute;
    width: 70%;
    height: calc(6rem + 1px);
    top: 100%;
    margin-top: -1px; }
    @media only screen and (max-width: 992px) {
      .shape-container .rectangle-small-bottom {
        display: none; } }

.product-showcase-space {
  margin-top: -1px;
  margin-bottom: 6rem; }

.text-center {
  text-align: center; }

.bold {
  font-weight: 600; }

.quote-box {
  position: relative; }
  .quote-box .quote {
    position: absolute;
    bottom: calc(100% + 2.8rem); }

.text-italic {
  font-style: italic; }

.animate-section {
  transition: transform 1s, opacity 1s; }

.section--hidden {
  transform: translateY(8rem); }

.mb-8 {
  margin-bottom: 0.8rem; }

.mb-16 {
  margin-bottom: 1.6rem; }

.mb-24 {
  margin-bottom: 2.4rem; }

.mb-32 {
  margin-bottom: 3.2rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mb-64 {
  margin-bottom: 6.4rem; }

.mb-72 {
  margin-bottom: 7.2rem; }

.mb-80 {
  margin-bottom: 8rem; }

.primary-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 1.8rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2rem; }
  .primary-button .button-arrow {
    border: 2px solid #FAFAFA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    transition: all 0.5s ease-out;
    overflow: hidden; }
    .primary-button .button-arrow img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.6rem;
      transition: all 0.5s ease-out; }
      .primary-button .button-arrow img.arrow-invisible {
        transform: translate(-275%, -50%); }
  .primary-button:hover {
    color: #FAFAFA; }
    .primary-button:hover .button-arrow {
      transform: scale(1.1); }
      .primary-button:hover .button-arrow img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem; }
        .primary-button:hover .button-arrow img.arrow-invisible {
          transform: translate(-50%, -50%); }
        .primary-button:hover .button-arrow img.arrow-visible {
          transform: translate(275%, -50%); }

.primary-card {
  position: relative;
  height: 40rem;
  display: flex;
  align-items: end;
  text-decoration: none;
  overflow: hidden; }
  .primary-card:hover .card-img {
    transform: scale(1.2); }
  .primary-card .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 3s ease; }
  .primary-card::after {
    content: '';
    z-index: 2;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 38, 74, 0) 54.69%, #1E1E1E 100%); }
  .primary-card .card-contents {
    position: relative;
    z-index: 3;
    padding: 2rem; }
    .primary-card .card-contents .card-head {
      color: #FFF;
      font-family: "Barlow", sans-serif;
      font-size: 3.2rem;
      font-style: italic;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 1.92px;
      margin-bottom: 1.8rem; }
    .primary-card .card-contents .card-info {
      display: flex;
      align-items: center;
      gap: 5px; }
      .primary-card .card-contents .card-info span {
        color: #FFF;
        font-family: "Barlow", sans-serif;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 500;
        line-height: 1.2rem;
        letter-spacing: 0.629px; }
      .primary-card .card-contents .card-info img {
        width: 2rem; }

.product-col {
  margin: 2rem;
  border-radius: 2.302px;
  background: #FFF;
  box-shadow: 0px 5.558px 13.896px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out; }
  .product-col a {
    display: inline-block;
    text-decoration: none;
    padding: 1.6rem; }
    .product-col a .product-card .product-image {
      margin-bottom: 2.4rem;
      aspect-ratio: 1; }
      .product-col a .product-card .product-image img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .product-col a .product-card .product-title {
      color: #262626;
      font-size: 1.8rem;
      letter-spacing: 0.552px;
      text-align: center; }
  .product-col:hover {
    transform: translateY(-1rem);
    box-shadow: 0px 10.558px 20.896px 0px rgba(0, 0, 0, 0.125); }

.form .form-row {
  margin-bottom: 3.2rem; }
  .form .form-row .form-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #D4D4D4;
    padding: 0.8rem 0;
    color: #171717;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 123%;
    letter-spacing: 0.42px; }
    .form .form-row .form-input::placeholder {
      color: #999;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
      line-height: 123%;
      letter-spacing: 0.42px; }

.custom-checkbox {
  padding: 0;
  list-style: none;
  margin-bottom: 0.5rem; }
  .custom-checkbox .category-title {
    margin-bottom: 0; }
  .custom-checkbox label {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #525252;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    cursor: pointer;
    width: fit-content; }
    .custom-checkbox label .checkbox {
      width: 2rem;
      height: 2rem;
      border-radius: 4px;
      border: 2px solid #0E54A4;
      display: flex;
      justify-content: center;
      align-items: center; }
      .custom-checkbox label .checkbox i {
        color: #FAFAFA;
        font-size: 10px; }
  .custom-checkbox input {
    display: none; }
    .custom-checkbox input:checked ~ label .checkbox {
      background: #0E54A4; }

.custom-navigation-section {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  max-height: 16rem; }
  @media only screen and (max-width: 992px) {
    .custom-navigation-section {
      display: none; } }
  .custom-navigation-section .divider-bg {
    width: 100%; }
  .custom-navigation-section .nav-container {
    position: absolute;
    inset: 0; }
  .custom-navigation-section .custom-navigation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    gap: 2rem; }
    .custom-navigation-section .custom-navigation .nav {
      cursor: pointer; }

.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.71);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); }
  .modal-container .modal-content {
    width: 80rem;
    aspect-ratio: 16/9; }
    .modal-container .modal-content iframe {
      width: 100%;
      height: 100%;
      display: block; }
  .modal-container.hide-modal {
    display: none; }

.info-box {
  background: #0E54A4;
  color: white;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .info-box .info-logo img {
    width: 28rem; }
  .info-box.product-info-box {
    padding-left: 0;
    position: relative;
    justify-content: center;
    padding-top: 10rem; }
    @media only screen and (max-width: 1600px) {
      .info-box.product-info-box {
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 992px) {
      .info-box.product-info-box {
        padding: 4rem 2rem; } }
    .info-box.product-info-box::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: -100%;
      background: #0E54A4; }
      @media only screen and (max-width: 992px) {
        .info-box.product-info-box::after {
          display: none; } }
    .info-box.product-info-box::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: 0;
      z-index: -1;
      background: #0E54A4; }
      @media only screen and (max-width: 992px) {
        .info-box.product-info-box::before {
          display: none; } }
  .info-box .info-head {
    font-family: "Barlow", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    line-height: 8rem;
    letter-spacing: 2.367px;
    text-transform: uppercase; }
    @media only screen and (max-width: 992px) {
      .info-box .info-head {
        font-size: 6.4rem;
        line-height: 6.4rem; } }
    .info-box .info-head span {
      font-style: italic; }

.search-container {
  position: relative; }
  .search-container .search-box {
    position: absolute;
    top: 150%;
    background: #FAFAFA;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
    right: 0;
    width: 30rem;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.3s; }
    .search-container .search-box.visible {
      opacity: 1;
      visibility: visible;
      transform: translateX(0); }
    .search-container .search-box input {
      border: none;
      width: 100%;
      padding: 1rem 0;
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 1px;
      color: #262626;
      outline: none;
      background: transparent; }
      .search-container .search-box input::placeholder {
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #D4D4D4; }
    .search-container .search-box button {
      outline: none;
      border: none;
      padding: 1rem 2rem;
      background: #0E54A4;
      font-size: 1.4rem;
      color: #FAFAFA;
      border-radius: 10px;
      letter-spacing: 1px;
      font-weight: 500; }

.search-icon {
  cursor: pointer; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (max-width: 992px) {
    header .site-logo img {
      width: 15em; } }
  header .header-box {
    padding: 4.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 992px) {
      header .header-box {
        padding: 3.2rem 0; } }
  header .header-actions {
    display: flex;
    gap: 3.2rem;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      header .header-actions {
        gap: 2rem; } }
    @media only screen and (max-width: 768px) {
      header .header-actions .header-action img {
        width: 2.4rem; } }
    header .header-actions #navHam {
      cursor: pointer; }
  header .navigation-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: end; }
    header .navigation-container.show-nav {
      visibility: visible;
      opacity: 1; }
      header .navigation-container.show-nav .navigation-box {
        animation: slideIn 0.2s linear; }
    header .navigation-container.hide-nav {
      visibility: hidden;
      opacity: 0; }
      header .navigation-container.hide-nav .navigation-box {
        animation: slideOut 0.2s linear; }
    header .navigation-container .navigation-box {
      background: #063034;
      height: 100%;
      overflow-y: auto;
      width: 60rem;
      position: relative;
      padding: 4.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* width */ }
      header .navigation-container .navigation-box::-webkit-scrollbar {
        display: none; }
      header .navigation-container .navigation-box .nav-socials {
        display: flex;
        gap: 2rem;
        align-items: baseline;
        margin-top: 4rem; }
        header .navigation-container .navigation-box .nav-socials .nav-social {
          color: #FAFAFA;
          font-size: 3.2rem;
          text-decoration: none; }
      header .navigation-container .navigation-box #navClose {
        position: absolute;
        top: 4rem;
        right: 4rem;
        width: 2rem;
        cursor: pointer; }
      header .navigation-container .navigation-box nav {
        display: flex;
        flex-direction: column; }
        header .navigation-container .navigation-box nav .multi-select-box {
          position: relative; }
          header .navigation-container .navigation-box nav .multi-select-box .multi-select-items {
            display: flex;
            gap: 0.8rem;
            transition: all 0.3s;
            flex-wrap: wrap;
            gap: 2rem;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            height: 0;
            text-align: center;
            margin: 0; }
            header .navigation-container .navigation-box nav .multi-select-box .multi-select-items.show {
              opacity: 1;
              visibility: visible;
              height: auto;
              margin-top: 2rem;
              margin-bottom: 4rem; }
            header .navigation-container .navigation-box nav .multi-select-box .multi-select-items .multi-select-item {
              font-size: 2rem;
              font-style: italic;
              padding: 2rem;
              font-weight: bold;
              font-family: Barlow;
              color: white;
              text-decoration: none;
              transition: all 0.2s;
              flex: 1;
              flex-basis: 30%;
              background: white;
              border-radius: 14px;
              flex-grow: 0;
              max-width: 30%;
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              @media only screen and (max-width: 576px) {
                header .navigation-container .navigation-box nav .multi-select-box .multi-select-items .multi-select-item {
                  flex-basis: 45%;
                  max-width: 45%; } }
              header .navigation-container .navigation-box nav .multi-select-box .multi-select-items .multi-select-item img {
                width: 70%;
                aspect-ratio: 1;
                object-fit: cover;
                margin: auto; }
              header .navigation-container .navigation-box nav .multi-select-box .multi-select-items .multi-select-item h3 {
                color: black;
                margin-top: 1.4rem;
                font-size: 1.2rem;
                margin-bottom: 0;
                font-family: Barlow;
                font-weight: 600;
                letter-spacing: 1.5px;
                word-break: break-word; }
                @media only screen and (max-width: 576px) {
                  header .navigation-container .navigation-box nav .multi-select-box .multi-select-items .multi-select-item h3 {
                    font-size: 1.2rem; } }
            header .navigation-container .navigation-box nav .multi-select-box .multi-select-items .multi-select-item:hover {
              text-decoration: underline; }
        header .navigation-container .navigation-box nav .multi-item-head {
          display: flex; }
          header .navigation-container .navigation-box nav .multi-item-head img {
            width: 2rem;
            transition: all 0.3s; }
            header .navigation-container .navigation-box nav .multi-item-head img.rotate {
              transform: rotate(-180deg); }
        header .navigation-container .navigation-box nav .nav-item {
          width: fit-content;
          color: #FAFAFA;
          font-family: Barlow;
          font-size: 4rem;
          font-weight: 800;
          letter-spacing: 1.531px;
          text-transform: uppercase;
          text-decoration: none;
          gap: 2rem;
          transition: all 0.3s;
          cursor: pointer; }
          @media only screen and (max-width: 1400px) {
            header .navigation-container .navigation-box nav .nav-item {
              font-size: 3.2rem; } }
          header .navigation-container .navigation-box nav .nav-item:hover {
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
            -webkit-text-stroke: 2px white; }
          header .navigation-container .navigation-box nav .nav-item.active {
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
            -webkit-text-stroke: 2px white;
            font-style: italic; }

.hero {
  background: #063034;
  position: relative;
  height: 120vh; }
  .hero .hero-container {
    display: flex;
    align-items: baseline; }
    .hero .hero-container .hero-banner {
      position: absolute;
      right: 0;
      width: calc(80% - 12rem);
      height: 75%;
      border-bottom-left-radius: 8rem;
      overflow: hidden; }
      @media only screen and (max-width: 992px) {
        .hero .hero-container .hero-banner {
          width: 100%; } }
      .hero .hero-container .hero-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .hero .hero-container .hero-banner::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 6.15%, rgba(0, 0, 0, 0.51) 93.08%); }
    .hero .hero-container .hero-contents {
      z-index: 2;
      align-items: center;
      position: absolute;
      bottom: 30%;
      width: 50%; }
      @media only screen and (max-width: 992px) {
        .hero .hero-container .hero-contents {
          width: 70%; } }
      @media only screen and (max-width: 992px) {
        .hero .hero-container .hero-contents {
          width: 90%; } }

.secondary-hero {
  height: 50vh;
  background-position: top;
  position: relative;
  border-bottom-right-radius: 18rem; }
  @media only screen and (max-width: 768px) {
    .secondary-hero {
      height: 40vh; } }
  @media only screen and (max-width: 768px) {
    .secondary-hero {
      border-bottom-right-radius: 10rem; } }
  .secondary-hero .secondary-hero-title {
    font-family: "Barlow", sans-serif;
    color: #FAFAFA;
    font-size: 10rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3px;
    position: absolute;
    bottom: 4rem; }
    @media only screen and (max-width: 992px) {
      .secondary-hero .secondary-hero-title {
        font-size: 6.4rem; } }

footer {
  position: relative;
  z-index: 1;
  position: relative;
  margin-top: 16rem; }
  footer .footer-container .footer-row .footer-box {
    color: #FAFAFA;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.395px;
    padding-block: 2rem; }
    footer .footer-container .footer-row .footer-box .footer-logo {
      width: 20rem; }
    footer .footer-container .footer-row .footer-box .footer-contact-details .footer-detail {
      display: flex;
      gap: 1.4rem;
      margin-bottom: 1.6rem;
      align-items: center;
      align-items: baseline; }
    footer .footer-container .footer-row .footer-box.footer-company-info {
      border-right: 1px solid rgba(212, 212, 212, 0.2);
      padding-right: 8rem;
      margin-right: 8rem; }
      @media only screen and (max-width: 992px) {
        footer .footer-container .footer-row .footer-box.footer-company-info {
          border-right: none; } }
    footer .footer-container .footer-row .footer-box .footer-head {
      color: #FAFAFA;
      font-size: 2.2rem;
      font-weight: 500;
      letter-spacing: 0.66px;
      margin-bottom: 3.2rem; }
    footer .footer-container .footer-row .footer-box .footer-links {
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      footer .footer-container .footer-row .footer-box .footer-links .footer-link {
        width: fit-content;
        text-decoration: none;
        color: #FAFAFA;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.48px;
        position: relative; }
        footer .footer-container .footer-row .footer-box .footer-links .footer-link::after {
          content: '';
          position: absolute;
          top: 101%;
          left: 0;
          width: 0;
          height: 1px;
          background: #FAFAFA;
          transition: all 0.3s ease-out; }
        footer .footer-container .footer-row .footer-box .footer-links .footer-link:hover::after {
          width: 100%; }
  footer .footer-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1; }
  footer::after {
    content: '';
    position: absolute;
    bottom: 99%;
    width: 100%;
    height: 8rem;
    background: url("../../assets/img/footer-divider.svg");
    background-size: cover;
    background-repeat: no-repeat; }
  footer.socials-footer {
    margin-top: 0; }
    footer.socials-footer::after {
      display: none; }
  footer .copyright-text {
    color: var(--white, #FAFAFA);
    font-family: Barlow;
    font-size: 13.173px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.395px;
    margin-top: 2rem; }

.socials-container {
  color: #FAFAFA; }
  @media only screen and (max-width: 768px) {
    .socials-container {
      padding-block: 4rem; } }
  .socials-container .social-icons {
    display: flex;
    gap: 4rem; }
    .socials-container .social-icons a img {
      height: 4rem; }
  .socials-container .social-gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover; }

#home-brands {
  margin-bottom: 4rem;
  margin-top: -12rem;
  overflow: hidden; }
  @media only screen and (max-width: 992px) {
    #home-brands .brand-row {
      flex-wrap: wrap-reverse; } }
  #home-brands .brand-row .brand-box {
    aspect-ratio: 0.78;
    position: relative;
    height: 100%; }
    @media only screen and (max-width: 1200px) {
      #home-brands .brand-row .brand-box {
        aspect-ratio: none; } }
    #home-brands .brand-row .brand-box .brand-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #home-brands .brand-row .brand-box::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(22, 21, 21, 0.77) 82.5%); }
    #home-brands .brand-row .brand-box .brand-text {
      color: white;
      z-index: 3;
      position: absolute;
      bottom: 2.8rem;
      left: 8rem; }
      #home-brands .brand-row .brand-box .brand-text span {
        font-size: 1.8rem;
        letter-spacing: 0.54px;
        text-transform: lowercase;
        position: relative; }
        @media only screen and (max-width: 1200px) {
          #home-brands .brand-row .brand-box .brand-text span {
            font-size: 1.6rem; } }
        #home-brands .brand-row .brand-box .brand-text span::after {
          content: '';
          position: absolute;
          width: 4rem;
          height: 1px;
          top: 50%;
          transform: translateY(-50%);
          left: -5rem;
          background: white; }
      #home-brands .brand-row .brand-box .brand-text h3 {
        font-size: 4.8rem;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        font-weight: 300; }
        @media only screen and (max-width: 1200px) {
          #home-brands .brand-row .brand-box .brand-text h3 {
            font-size: 3.2rem; } }
  #home-brands .brand-row .brands-info-box {
    height: 100%;
    position: relative;
    z-index: -1; }
    @media only screen and (max-width: 992px) {
      #home-brands .brand-row .brands-info-box {
        z-index: 1; } }
    #home-brands .brand-row .brands-info-box .info-box {
      padding-top: 12rem; }
      @media only screen and (max-width: 992px) {
        #home-brands .brand-row .brands-info-box .info-box {
          padding-top: 4rem; } }
    #home-brands .brand-row .brands-info-box::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
      background: #0E54A4; }
      @media only screen and (max-width: 1600px) {
        #home-brands .brand-row .brands-info-box::after {
          content: ''; } }
      @media only screen and (max-width: 992px) {
        #home-brands .brand-row .brands-info-box::after {
          display: none; } }

.product-section {
  position: relative;
  overflow: hidden; }

.about-p {
  width: 90%;
  margin-left: auto; }
  @media only screen and (max-width: 992px) {
    .about-p {
      width: 100%; } }

@media only screen and (max-width: 992px) {
  .about-img-box {
    margin-top: 2rem; } }

.brands-container .brands-row {
  display: flex; }
  @media only screen and (max-width: 992px) {
    .brands-container .brands-row {
      flex-direction: column; } }
  @media only screen and (max-width: 992px) {
    .brands-container .brands-row.brands-row-reverse {
      flex-direction: column-reverse; } }
  .brands-container .brands-row .brands-col {
    flex-basis: 50%; }
    .brands-container .brands-row .brands-col.brand-image-col {
      position: relative; }
      @media only screen and (max-width: 992px) {
        .brands-container .brands-row .brands-col.brand-image-col {
          aspect-ratio: 1; } }
      .brands-container .brands-row .brands-col.brand-image-col img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute; }
    .brands-container .brands-row .brands-col.brand-text-col {
      padding: 12rem 10rem;
      background: #063034;
      position: relative; }
      @media only screen and (max-width: 1200px) {
        .brands-container .brands-row .brands-col.brand-text-col {
          padding: 8rem; } }
      @media only screen and (max-width: 768px) {
        .brands-container .brands-row .brands-col.brand-text-col {
          padding: 4rem 2rem; } }
      .brands-container .brands-row .brands-col.brand-text-col .brand-info {
        color: #FAFAFA;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 200;
        line-height: 3.6rem;
        /* 141.667% */
        letter-spacing: 0.724px; }
        @media only screen and (max-width: 768px) {
          .brands-container .brands-row .brands-col.brand-text-col .brand-info {
            font-size: 1.8rem;
            line-height: 1.4; } }
      .brands-container .brands-row .brands-col.brand-text-col::after {
        content: attr(data-content);
        -webkit-text-fill-color: rgba(235, 0, 0, 0);
        -webkit-text-stroke: 6px rgba(132, 172, 212, 0.2);
        font-family: Barlow;
        font-size: 12rem;
        font-style: normal;
        font-weight: 800;
        /* 173.25% */
        letter-spacing: 1.4rem;
        text-transform: uppercase;
        line-height: 1.5;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        right: 0;
        writing-mode: vertical-lr; }

.team-container .team-card {
  aspect-ratio: 5/8;
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 992px) {
    .team-container .team-card {
      overflow: visible; } }
  .team-container .team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; }
    @media only screen and (max-width: 992px) {
      .team-container .team-card img {
        border-radius: 4rem; } }
  .team-container .team-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 153, 255, 0.7) 0%, rgba(0, 153, 255, 0.7) 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
    opacity: 0;
    transition: all 0.3s ease-out; }
    @media only screen and (max-width: 992px) {
      .team-container .team-card::after {
        display: none; } }
  .team-container .team-card .team-detail {
    position: absolute;
    z-index: 2;
    color: #FAFAFA;
    text-align: center;
    width: 100%;
    padding: 2rem;
    transition: all 0.3s ease-out;
    bottom: -2rem;
    opacity: 0; }
    @media only screen and (max-width: 992px) {
      .team-container .team-card .team-detail {
        position: static;
        color: #171717;
        opacity: 1; } }
    .team-container .team-card .team-detail .team-name {
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.96px; }
    .team-container .team-card .team-detail .team-post {
      font-size: 2rem;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.69px; }
  .team-container .team-card:hover::after {
    opacity: 0.7; }
  .team-container .team-card:hover .team-detail {
    bottom: 6rem;
    opacity: 1; }

#contact-details .contact-box {
  background: #063034;
  position: relative;
  margin-right: 8rem; }
  @media only screen and (max-width: 992px) {
    #contact-details .contact-box {
      margin-right: 0; } }
  #contact-details .contact-box::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../../assets/img/contact-texture.png"); }
  #contact-details .contact-box .site-map {
    padding-block: 10rem;
    height: 100%;
    margin-right: -8rem;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 992px) {
      #contact-details .contact-box .site-map {
        margin-right: 0;
        padding: 6.4rem;
        padding-top: 0;
        aspect-ratio: 1; } }
    @media only screen and (max-width: 576px) {
      #contact-details .contact-box .site-map {
        padding: 3.2rem; } }
    #contact-details .contact-box .site-map iframe {
      box-shadow: 6px 8px 9px 0px rgba(0, 0, 0, 0.14);
      height: 100%;
      width: 100%; }
  #contact-details .contact-box .contact-details {
    padding: 6.4rem;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 576px) {
      #contact-details .contact-box .contact-details {
        padding: 3.2rem; } }
    #contact-details .contact-box .contact-details .contact-head {
      color: #FAFAFA;
      font-family: "Barlow", sans-serif;
      font-size: 6.4rem;
      font-style: italic;
      font-weight: 800;
      letter-spacing: 1.92px; }
      @media only screen and (max-width: 576px) {
        #contact-details .contact-box .contact-details .contact-head {
          font-size: 4rem; } }
      #contact-details .contact-box .contact-details .contact-head span {
        display: inline-block;
        width: 100%; }
    #contact-details .contact-box .contact-details .primary-p {
      color: #FAFAFA; }
    #contact-details .contact-box .contact-details .contact-detail-row {
      margin-bottom: 3.2rem; }
      #contact-details .contact-box .contact-details .contact-detail-row .contact-detail-head {
        color: #E5E5E5;
        font-size: 1.6rem;
        letter-spacing: 0.48px;
        position: relative;
        margin-bottom: 1.6rem;
        text-transform: uppercase; }
        #contact-details .contact-box .contact-details .contact-detail-row .contact-detail-head::after {
          content: '';
          position: absolute;
          top: 120%;
          width: 4rem;
          height: 1px;
          background: #E5E5E5;
          left: 0; }

.products-info-box {
  padding-bottom: 12rem; }
  @media only screen and (max-width: 992px) {
    .products-info-box {
      padding-bottom: 4rem; } }
  .products-info-box .products-row {
    padding: 4rem 0; }
    @media only screen and (max-width: 992px) {
      .products-info-box .products-row {
        padding: 0; } }

.product-display-box {
  border-radius: 2.4rem;
  overflow: hidden; }
  .product-display-box .product-display-image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover; }

.filter-row .form-row {
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem; }
  .filter-row .form-row:not(:last-child) {
    border-bottom: 1px solid #E5E5E5; }

.filter-row .filter-head {
  color: #262626;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  /* 27.06px */
  letter-spacing: 0.66px;
  text-transform: uppercase;
  padding-left: 3.2rem;
  position: relative; }
  .filter-row .filter-head::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #0A0A0A;
    width: 1.6rem;
    height: 2px;
    left: 0; }

.filter-row .filter-list {
  padding: 0; }

.categories-col h4 {
  display: flex;
  gap: 1.6rem; }

.categories-col .category-filter {
  transition: all 0.3s; }
  @media only screen and (max-width: 768px) {
    .categories-col .category-filter {
      visibility: hidden;
      opacity: 0;
      height: 0; } }
  @media only screen and (max-width: 768px) {
    .categories-col .category-filter.filter-show {
      visibility: visible;
      opacity: 1;
      height: 100%; } }

.categories-col .category-arrow {
  display: none;
  width: 1.6rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 768px) {
    .categories-col .category-arrow {
      display: block; } }
  .categories-col .category-arrow.rotate {
    transform: rotate(180deg); }

.filter-button {
  color: white;
  background: #0E54A4;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 1.5px;
  font-family: Barlow; }
  .filter-button img {
    width: 2.4rem; }

#prodetail-details .product-details .product-category {
  color: #737373;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  display: inline-block; }
  @media only screen and (max-width: 768px) {
    #prodetail-details .product-details .product-category {
      font-size: 1.4rem; } }

#prodetail-details .product-details .product-title {
  color: #0A0A0A;
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: 2.88px;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    #prodetail-details .product-details .product-title {
      font-size: 3.2rem; } }

#prodetail-details .product-details .product-details .details-title {
  color: #737373;
  font-size: 2.2rem;
  letter-spacing: 0.66px;
  text-transform: uppercase;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 0.8rem; }

#prodetail-details .product-details .product-details .details-row {
  margin-bottom: 1.4rem; }
  @media only screen and (max-width: 768px) {
    #prodetail-details .product-details .product-details .details-row {
      display: flex;
      flex-direction: column; } }
  #prodetail-details .product-details .product-details .details-row .detail-head {
    color: #262626;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1.08px;
    min-width: 30rem;
    display: inline-block; }
    @media only screen and (max-width: 768px) {
      #prodetail-details .product-details .product-details .details-row .detail-head {
        min-width: 20rem; } }
  #prodetail-details .product-details .product-details .details-row .detail-value {
    color: #525252;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.08px; }
    @media only screen and (max-width: 768px) {
      #prodetail-details .product-details .product-details .details-row .detail-value {
        font-size: 1.4rem; } }

.event-detail-box {
  max-width: 80rem;
  margin: auto; }
  .event-detail-box .event-title {
    color: var(--light-black, #262626);
    font-family: "Nunito Sans";
    font-size: 5.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6rem;
    /* 118.077% */
    letter-spacing: 0.52px;
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 768px) {
      .event-detail-box .event-title {
        font-size: 3.2rem;
        line-height: 1.4; } }
  .event-detail-box .event-date {
    display: flex;
    gap: 1rem;
    color: #F54F54;
    font-family: Barlow;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.8rem;
    /* 122.222% */
    letter-spacing: 0.925px;
    margin-bottom: 1.6rem; }
  .event-detail-box img {
    margin-bottom: 3.2rem; }
  .event-detail-box p {
    color: #525252;
    font-weight: 400;
    margin-bottom: 2.4rem; }

.gallery-box {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 1rem;
  column-count: 4;
  column-gap: 1rem; }
  @media only screen and (max-width: 768px) {
    .gallery-box {
      column-count: 3; } }
  @media only screen and (max-width: 576px) {
    .gallery-box {
      column-count: 2; } }
  .gallery-box a {
    flex-basis: 25%; }
  .gallery-box img {
    width: 100%;
    height: auto !important;
    margin-bottom: 1rem; }

.badminton-cup-logo {
  width: 40rem; }

#match-fixture .fixture-box {
  border-radius: 2rem;
  background: linear-gradient(0deg, rgba(6, 48, 52, 0.8) 0%, rgba(6, 48, 52, 0.8) 100%), url("../../assets/img/fixture-bg.jpeg") lightgray 50%/cover no-repeat;
  padding: 4rem 6.4rem; }
  #match-fixture .fixture-box .fixture-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 4rem; }
    #match-fixture .fixture-box .fixture-head h3 {
      color: #FAFAFA;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1.2px; }
    #match-fixture .fixture-box .fixture-head .fixture-filters {
      display: flex;
      gap: 2rem; }
      #match-fixture .fixture-box .fixture-head .fixture-filters .filter select {
        border-radius: 6px;
        background: rgba(229, 229, 229, 0.2);
        color: #FAFAFA;
        font-size: 1.8rem;
        letter-spacing: 1.1px;
        padding: 1rem;
        outline: none;
        border: none; }
        #match-fixture .fixture-box .fixture-head .fixture-filters .filter select option {
          color: #171717; }
  #match-fixture .fixture-box .fixture .fixture-row {
    padding: 3.2rem 0;
    display: flex;
    justify-content: space-between; }
    #match-fixture .fixture-box .fixture .fixture-row:not(:last-child) {
      border-bottom: 1px solid rgba(229, 229, 229, 0.5); }
    #match-fixture .fixture-box .fixture .fixture-row .participants {
      display: flex;
      gap: 8rem;
      align-items: center; }
      #match-fixture .fixture-box .fixture .fixture-row .participants .participant-name {
        color: #FAFAFA;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1.1px; }
      #match-fixture .fixture-box .fixture .fixture-row .participants .vs-icon {
        width: 4rem; }
    #match-fixture .fixture-box .fixture .fixture-row .result-box {
      color: #FAFAFA;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      opacity: 0.8;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer; }
