$color-primary: #19C1D1;
$color-secodary: #EA9E99;
$color-primary-dark: #45808C;
$color-primary-light: #F1F8FE;

$color-black: #130808;
$color-medium-black: #171717;
$color-light-black: #262626;
$color-dark-gray: #525252;
$color-gray: #737373;
$color-light-gray: #D4D4D4;
$color-dark-white: #E5E5E5;
$color-medium-white: #F5F5F5;
$color-white: #FAFAFA;