header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .site-logo {
        img {
            @include respond(lg) {
                width: 15em;
            }
        }

    }

    .header-box {
        padding: 4.8rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(lg) {
            padding: 3.2rem 0;
        }
    }

    .header-actions {
        display: flex;
        gap: 3.2rem;
        align-items: center;

        @include respond(md) {
            gap: 2rem;
        }

        .header-action {
            img {
                @include respond(md) {
                    width: 2.4rem;
                }
            }
        }

        #navHam {
            cursor: pointer;
        }
    }

    .navigation-container {
        position: fixed;
        inset: 0;
        display: flex;
        justify-content: end;

        &.show-nav {
            visibility: visible;
            opacity: 1;

            .navigation-box {
                animation: slideIn 0.2s linear;
            }
        }

        &.hide-nav {
            .navigation-box {
                animation: slideOut 0.2s linear;
            }

            visibility: hidden;
            opacity: 0;


        }

        .navigation-box {
            background: $color-secodary-dark;
            height: 100%;
            overflow-y: auto;
            width: 60rem;
            position: relative;
            padding: 4.8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            /* width */
            &::-webkit-scrollbar {
                display: none;
            }


            .nav-socials {
                display: flex;
                gap: 2rem;
                align-items: baseline;
                margin-top: 4rem;

                .nav-social {
                    color: $color-white;
                    font-size: 3.2rem;
                    text-decoration: none;
                }
            }

            #navClose {
                position: absolute;
                top: 4rem;
                right: 4rem;
                width: 2rem;
                cursor: pointer;
            }

            nav {
                display: flex;
                flex-direction: column;

                .multi-select-box {
                    position: relative;

                    .multi-select-items {
                        display: flex;
                        gap: 0.8rem;
                        transition: all 0.3s;
                        flex-wrap: wrap;
                        gap: 2rem;

                        visibility: hidden;
                        overflow: hidden;
                        opacity: 0;
                        height: 0;
                        text-align: center;

                        margin: 0;

                        &.show {
                            opacity: 1;
                            visibility: visible;
                            height: auto;
                            margin-top: 2rem;
                            margin-bottom: 4rem;
                        }

                        .multi-select-item {
                            font-size: 2rem;
                            font-style: italic;
                            padding: 2rem;
                            font-weight: bold;
                            font-family: Barlow;
                            color: white;
                            text-decoration: none;
                            transition: all 0.2s;
                            flex: 1;
                            flex-basis: 30%;
                            background: white;
                            border-radius: 14px;
                            flex-grow: 0;
                            max-width: 30%;

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            @include respond(sm) {
                                flex-basis: 45%;
                                max-width: 45%;

                            }

                            img {
                                width: 70%;
                                aspect-ratio: 1;
                                object-fit: cover;
                                margin: auto;
                            }

                            h3 {
                                color: black;
                                margin-top: 1.4rem;
                                font-size: 1.2rem;
                                margin-bottom: 0;
                                font-family: Barlow;
                                font-weight: 600;
                                letter-spacing: 1.5px;
                                word-break: break-word;

                                @include respond(sm) {
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        .multi-select-item:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .multi-item-head {
                    display: flex;

                    img {
                        width: 2rem;
                        transition: all 0.3s;

                        &.rotate {
                            transform: rotate(-180deg);
                        }
                    }
                }


                .nav-item {
                    width: fit-content;
                    color: $color-white;
                    font-family: Barlow;
                    font-size: 4rem;
                    font-weight: 800;
                    letter-spacing: 1.531px;
                    text-transform: uppercase;
                    text-decoration: none;
                    gap: 2rem;
                    transition: all 0.3s;
                    cursor: pointer;

                    @include respond(xxl) {
                        font-size: 3.2rem;
                    }



                    &:hover {
                        -webkit-text-fill-color: rgba(255, 255, 255, 0);
                        -webkit-text-stroke: 2px rgb(255, 255, 255);
                    }

                    &.active {
                        -webkit-text-fill-color: rgba(255, 255, 255, 0);
                        -webkit-text-stroke: 2px rgb(255, 255, 255);
                        font-style: italic;
                    }
                }
            }
        }
    }
}