.primary-button {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    font-size: 1.8rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2rem;

    .button-arrow {
        border: 2px solid $color-white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        transition: all 0.5s ease-out;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.6rem;
            transition: all 0.5s ease-out;

            &.arrow-invisible {
                transform: translate(-275%, -50%);
            }
        }
    }

    &:hover {
        color: $color-white;

        .button-arrow {

            transform: scale(1.1);

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 2rem;

                &.arrow-invisible {
                    transform: translate(-50%, -50%);
                }

                &.arrow-visible {
                    transform: translate(275%, -50%);
                }
            }
        }
    }

}

.whatsapp-button-container {
    margin-top: 3.2rem;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 1.6rem 2.4rem;
    text-decoration: none;
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #1EBE57;
        color: white;
    }
}

.whatsapp-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}