.form {

    .form-row {
        margin-bottom: 3.2rem;

        .form-input {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid $color-light-gray;
            padding: 0.8rem 0;
            color: $color-medium-black;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 123%;
            letter-spacing: 0.42px;

            &::placeholder {
                color: #999;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 300;
                line-height: 123%;
                letter-spacing: 0.42px;
            }
        }
    }
}

.custom-checkbox {
    padding: 0;
    list-style: none;
    margin-bottom: 0.5rem;

    label {
        display: flex;
        gap: 10px;
        align-items: center;

        color: $color-dark-gray;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.72px;
        cursor: pointer;
        width: fit-content;


        .checkbox {
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            border: 2px solid $color-primary;

            @include flex-center;

            i {
                color: $color-white;
                font-size: 10px;
            }
        }

    }



    input {
        display: none;

        &:checked~label .checkbox {
            background: $color-primary;
        }
    }

}