.info-box {
    background: $color-primary;
    color: white;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;



    &.product-info-box {
        padding-left: 0;
        position: relative;

        @include respond(ml) {
            justify-content: end;
            padding-bottom: 6.4rem;

        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background: $color-primary;
        }

    }

    .info-head {
        font-family: "Barlow", sans-serif;

        font-size: 8rem;
        font-weight: 800;
        line-height: 8rem;
        letter-spacing: 2.367px;
        text-transform: uppercase;


        span {
            font-style: italic;
        }
    }
}