.search-container {
    position: relative;

    @include respond(md) {
        position: static;
    }



    .search-box {
        position: absolute;
        top: 150%;
        background: $color-white;
        padding: 1rem;
        padding-left: 2rem;
        border-radius: 10px;
        right: 0;
        width: 30rem;
        display: flex;

        @include respond(md) {
            width: 90vw;
            left: 50%;
            transform: translate(-50%, 100%);
            top: 12rem;
        }

        opacity: 0;
        visibility: hidden;
        transform: translate(0, 100%);
        transition: all 0.3s;



        &.visible {
            opacity: 1;
            visibility: visible;
            transform: translate(0);

            @include respond(md) {
                transform: translate(-50%, 0);
            }
        }

        input {
            border: none;
            width: 100%;
            padding: 1rem 0;

            &::placeholder {
                font-size: 1.4rem;
                line-height: 1.5;
                letter-spacing: 1px;
                color: $color-light-gray;
            }

            font-size: 1.4rem;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $color-light-black;
            outline: none;
            background: transparent;


        }

        button {
            outline: none;
            border: none;
            padding: 1rem 2rem;
            background: $color-primary;
            font-size: 1.4rem;
            color: $color-white;
            border-radius: 10px;
            letter-spacing: 1px;
            font-weight: 500;
        }

        .search-suggestion {
            display: none;
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1;
            border-radius: 1rem;
            overflow: hidden;
            padding-block: 5px;
        }

        .search-suggestion a {
            display: block;
            padding: 1rem 1.2rem;
            font-size: 1.6rem;
            letter-spacing: 1.28px;

            text-decoration: none;
            color: $color-black;
        }

        .search-suggestion a:hover {
            background-color: #f0f0f0;
        }

        .show {
            display: block;
        }
    }
}

.search-icon {
    cursor: pointer;
}