.hero-heading {
    color: #FFF;
    font-family: "Barlow", sans-serif;
    font-size: 10rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.1875rem;
}

.primary-p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.66px;
}

.hero-p {
    color: $color-geyser;
    border-left: 3px solid $color-complementary;
    padding: 3.2rem;
    margin-left: 6.4rem;
}

.bordered-text {
    font-family: "Barlow", sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 2px rgb(255, 255, 255);

    &.border-black {
        color: $color-black;
        -webkit-text-stroke: 2px $color-black;
    }
}

.secondary-p {
    font-family: "Barlow", sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.meta-tag {
    font-size: 1.6rem;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        width: 6.4rem;
        background: $color-white;
        height: 1px;
        left: calc(100% + 1.6rem);
        top: 50%;
        transform: translateY(-50%);
    }

}

.primary-heading {
    font-family: "Barlow", sans-serif;
    font-size: 4.8rem;
    font-weight: 800;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}

.secondary-heading {
    font-family: "Barlow", sans-serif;
    font-size: 6.4rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}