.section-space {
    margin: 6rem 0;

    @include respond(lg) {
        margin: 4rem 0;
    }
}

.text-white {
    color: $color-white !important;
}

.theme-bg {
    background: $color-secodary-dark;
}

.internal-space-lg {
    padding: 8rem 0;

    @include respond(lg) {
        padding: 4rem 0;
    }
}

.shape-container {
    position: relative;

    .rectangle-small-bottom {
        position: absolute;
        width: 70%;
        height: 6rem;
        top: 100%;

        @include respond(lg) {
            display: none;
        }
    }
}

.product-showcase-space {
    margin-top: -1px;
    margin-bottom: 6rem;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 600;
}

.quote-box {
    position: relative;

    .quote {
        position: absolute;
        bottom: calc(100% + 2.8rem);

    }
}

.text-italic {
    font-style: italic;
}