.section-space {
    margin: 6rem 0;
}

.text-white {
    color: $color-white !important;
}

.theme-bg {
    background: $color-secodary-dark;
}

.internal-space-lg {
    padding: 8rem 0;
}

.shape-container {
    position: relative;

    .rectangle-small-bottom {
        position: absolute;
        width: 70%;
        height: 6rem;
        top: 100%;
    }
}

.product-showcase-space {
    margin-top: -1px;
    margin-bottom: 6rem;
}