.about-p {
    width: 90%;
    margin-left: auto;

    @include respond(lg) {
        width: 100%;
    }
}

.about-img-box {
    @include respond(lg) {
        margin-top: 2rem;
    }
}

.brands-container {
    .brands-row {
        display: flex;

        @include respond(lg) {
            flex-direction: column;
        }

        &.brands-row-reverse {

            @include respond(lg) {
                flex-direction: column-reverse;
            }
        }

        .brands-col {
            flex-basis: 50%;

            &.brand-image-col {
                position: relative;

                @include respond(lg) {
                    aspect-ratio: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                }

            }

            &.brand-text-col {
                padding: 12rem 10rem;
                background: $color-secodary-dark;
                position: relative;

                @include respond(xl) {
                    padding: 8rem;
                }

                @include respond(md) {
                    padding: 4rem 2rem;
                }



                .brand-info {
                    color: $color-white;
                    font-size: 2.4rem;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 3.6rem;
                    /* 141.667% */
                    letter-spacing: 0.724px;


                    @include respond(md) {
                        font-size: 1.8rem;
                        line-height: 1.4;
                    }
                }

                &::after {
                    content: attr(data-content);
                    -webkit-text-fill-color: rgba(235, 0, 0, 0);
                    -webkit-text-stroke: 6px rgba(132, 172, 212, 0.20);
                    font-family: Barlow;
                    font-size: 12rem;
                    font-style: normal;
                    font-weight: 800;
                    /* 173.25% */
                    letter-spacing: 1.4rem;
                    text-transform: uppercase;
                    line-height: 1.5;

                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(-180deg);
                    right: 0;

                    writing-mode: vertical-lr;

                }
            }
        }
    }

}

.team-container {

    .team-card {
        aspect-ratio: 5/8;
        border-radius: 4rem;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        @include respond(lg) {
            overflow: visible;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;

            @include respond(lg) {
                border-radius: 4rem;
            }
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, rgba(0, 153, 255, 0.70) 0%, rgba(0, 153, 255, 0.70) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
            opacity: 0;
            transition: all 0.3s ease-out;

            @include respond(lg) {
                display: none;
            }
        }


        .team-detail {
            position: absolute;
            z-index: 2;
            color: $color-white;
            text-align: center;
            width: 100%;
            padding: 2rem;
            transition: all 0.3s ease-out;
            bottom: -2rem;
            opacity: 0;

            @include respond(lg) {
                position: static;
                color: $color-medium-black;
                opacity: 1;
            }

            .team-name {
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.96px;
            }

            .team-post {
                font-size: 2rem;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.69px;
            }
        }


        &:hover {
            &::after {
                opacity: 0.7;
            }

            .team-detail {
                bottom: 6rem;
                opacity: 1;
            }
        }
    }
}